<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content-image-wrapper">
            <div class="content-wrapper">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <div class="heading">
                    <h2>Welcome to</h2>
                    <h2>Fake news detector</h2>
                </div>
                <div class="para">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, explicabo.</p>
                </div>
            </div>
            <section class="center-image">
                <img src="images/3081783.jpg" alt="">
            </section>
        </div>
            <section class="search-form">
                <form action="/forward" method="POST">
                    <input type="text" name="text" id="" placeholder="Enter your news here">
                    <button type="submit">Submit</button>
                </form>                
            </section>      
    </div>
</body>
</html>




    
