* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid {
	background: #f3f3f3;
	height: 10vh;
	display: flex;
	align-items: center;
}

nav {
	padding-top: 1em;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	width: 25em;
}
nav ul li {
	list-style: none;
}
.nav-btn {
	text-decoration: none !important;
	font-size: 0.95rem;
	transition: all 0.2s ease-in-out;
}
.nav-btn:hover {
	color: mediumblue;
}
main {
	min-height: 100vh;
}

.image-wrapper img {
	width: 100%;
}
.image-wrapper {
	width: 40%;
}
.main-container {
	min-height: 90vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-wrapper {
	width: 50%;
}
.welcome-heading {
	font-weight: 200;
	font-size: 2rem;
}
form {
	width: 80%;
	margin-top: 2em;
}

button {
	margin-top: 0.5em;
}

/* Main Responsive */
@media only screen and (max-width: 768px) {
	.container {
		flex-direction: column-reverse;
		justify-content: center;
		/* border: 1px solid blue; */
	}
	nav ul a {
		display: none;
	}
	.image-wrapper {
		width: 80%;
	}
	.image-wrapper img {
		/* border: 2px solid red; */
		width: 100%;
	}
	.content-wrapper {
		width: 100%;
		text-align: center;
	}
	form {
		margin: 0 auto;
	}
	.welcome-heading {
		margin-top: 1.2em;
	}
}

/* Section */

section {
	min-height: 70vh;
	background: #f3f3f3;
}

/* Section Image */
.img2-wrapper {
	width: 40%;
}
.img2-wrapper img {
	width: 100%;
}

/* Section Content */
.about-me {
	display: flex;
	align-items: center;
}
.section-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content2-wrapper {
	width: 42%;
}
.about-heading {
	width: 7em;
	padding-bottom: 0.2em;
	font-weight: 400;
	border-bottom: 2px solid #0275d8;
	margin-bottom: 1em;
}

/* Section Resonsive */
@media only screen and (max-width: 768px) {
	.img2-wrapper img {
		display: none;
	}
	.content2-wrapper {
		width: 100%;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

/* Footer */

footer {
	width: 90%;
	margin: 0 auto;
	min-height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer p {
	font-size: 0.9rem;
}

/* Social Icons */
.social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 8em;
}

.social-img {
	width: 20px;
}

/* Footer-Responsive */

@media only screen and (max-width: 768px) {
	footer {
		flex-direction: column;
		min-height: 25vh;
	}
	footer h4 {
		margin-top: 1em;
	}
}
