* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding-top: 1.5em;
	width: 80%;
	margin: 0 auto;
}
nav ul {
	width: 15em;
}
nav ul li {
	list-style: none;
}

.image-wrapper img {
	width: 100%;
}
.image-wrapper {
	width: 50%;
}
.container {
	min-height: 90vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-wrapper {
	width: 50%;
}
.welcome-heading {
	font-weight: 200;
	font-size: 2rem;
}
form {
	width: 80%;
	margin-top: 2em;
}

button {
	margin-top: 0.5em;
}
